Package: Flashy
Version: 1.2
Architecture: all
Essential: no
Priority: optional
Depends: yad,wget,default-jre,default-jdk git,libasound2-dev,libxcb-shape0-dev,libxcb-xfixes0-dev,libgtk-3-dev,libssl-dev,libxcb-xinput-dev,libxcb-xkb-dev,libxcb-cursor-dev,default-jre-headless,cmake,g++,git
Maintainer: Carson Grover
Description: Front-end for Adobe Flash Player emulators and runtimes.

Package: Flashy:amd64
Version: 1.2
Architecture: amd64
Essential: no
Priority: optional
Depends: yad,wget,default-jre,default-jdk git,libasound2-dev,libxcb-shape0-dev,libxcb-xfixes0-dev,libgtk-3-dev,libssl-dev,libxcb-xinput-dev,libxcb-xkb-dev,libxcb-cursor-dev,default-jre-headless,cmake,g++,git,flatpak
Maintainer: Carson Grover
Description: Front-end for Adobe Flash Player emulators and runtimes.
